<!DOCTYPE html>
<html lang="ja">

<head>
  {% include cssheader.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
  {% include meta.html %}
</head>

<body>

  {% include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="hidden-sm col-md-1"></div>
      <div class="main col-sm-12 col-md-10">
{% for category in site.categories %}
        {% for posts in category %}
        {% for post in posts %}
        {% if post.title != nil %}
        <article class="post">
          <header>
            <div class="title">
              <h1><a href="{{post.url}}">{{post.title}}</a></h1>
            </div>
            <div class="meta">
              <time class="published" datetime=" %f ">{{post.date}}</time>
              <p>{{post.categories}}</p>
            </div>
          </header>
          <div class="content">
            <p>{{post.sub}}</p>
          </div>
          <footer>
            <ul class="actions">
              <a href="{{post.url}}" class="raisedbutton material" role="button" aria-pressed="true">Continue Reading</a>
            </ul>
          </footer>
        </article>
        {% endif %}
        {% endfor %}
        {% endfor %}
          {% endfor %}
        <hr/> {{ content }}
      </div>
      <div class="hidden-sm col-md-1"></div>
    </div>
  </div>

  {% include social.html %}
  {% include disqus.html %}
  {% include footer.html %}

</body>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js" type="text/javascript">
</script>
<script src="{{ site.baseurl }}/js/style.js" type="text/javascript">
</script>
</html>
